.section-1 {
    /* width: 100vw;
    height: 50px; */
    /* background-color: white; */
}

.day-night {
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
}

.controls {
    background-color: transparent;
    position: absolute;
    top: 10;
    z-index: 999;
}